* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.demo-container {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
}

.demo-name {
  font-family: 'VT323', monospace;
  font-size: 46px;
  color: white;
  pointer-events: none;
}

.demo-author {
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: -5px;
  letter-spacing: 1px;
}

.demo-author a {
  color: white;
  /* text-decoration: none; */
}

.github-link {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .demo-name {
    font-size: 36.8px; /* 20% smaller than 46px */
  }
  
  .demo-author {
    font-size: 12.8px; /* 20% smaller than 16px */
  }
}

.underlined {
  text-decoration: underline;
}